<ul>
  <li>
    <strong>Coffee Shop Name: </strong>
    <%= @coffee_shop.name %>
  </li>
  <li>
    <strong>Coffee Shop Address: </strong>
    <%= @coffee_shop.address %>
  </li>
  <li>
    <strong>Coffee Shop Area: </strong>
    <%= @coffee_shop.area %>
  </li>
  <li>
    <strong>Coffee Shop Region: </strong>
    <%= @coffee_shop.region %>
  </li>
  <li>
    <strong>Coffee Shop Postcode: </strong>
    <%= @coffee_shop.postcode %>
  </li>
  <li>
    <strong>Coffee Shop Website: </strong>
    <%= @coffee_shop.website %>
  </li>
  <li>
    <strong>Coffee Shop Facebook: </strong>
    <%= @coffee_shop.facebook_acc %>
  </li>
  <li>
    <strong>Coffee Shop Instagram: </strong>
    <%= @coffee_shop.instagram_acc %>
  </li>
</ul>
